<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="EdgeSuite">
	<test thread-count="1" name="Test" parallel="classes">
		<parameter name="browser" value="EDGE"/>
		<classes>
			<class name="tests.CartPageTests"/>

		</classes>
	</test>
</suite>



